#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-3 P {
  font-size: 15px;
  text-align: left;
}
#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
#slider-8 H1 {
  color: #ffffff;
  font-size: 36px;
}
#slider-8 P {
  color: #ffffff;
}
#menu-c .mbr-brand__name {
  font-size: 16px;
}
#menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-c .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-e P {
  font-size: 15px;
  text-align: left;
}
#menu-g .mbr-brand__name {
  font-size: 16px;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-32 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-32 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-32 .mbr-article B {
  color: #000000;
}
#msg-box3-32 .mbr-article {
  text-align: center;
}
#msg-box3-31 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-31 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-31 .mbr-article B {
  color: #000000;
}
#msg-box3-31 .mbr-article {
  text-align: center;
}
#content1-34 P {
  text-align: left;
}
#content1-u P {
  font-size: 23px;
}
#content1-j P {
  text-align: left;
}
#content1-w P {
  font-size: 23px;
}
#content1-x P {
  font-size: 23px;
}
#content1-s P {
  font-size: 15px;
}
#menu-z .mbr-brand__name {
  font-size: 16px;
}
#menu-z.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-z .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1g .mbr-brand__name {
  font-size: 16px;
}
#menu-1g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1g .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-1i P {
  font-size: 23px;
}
#content1-1j P {
  text-align: left;
}
#content1-2a P {
  font-size: 23px;
}
#content1-1o P {
  font-size: 23px;
}
#menu-2b .mbr-brand__name {
  font-size: 16px;
}
#menu-2b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2b .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-2d P {
  font-size: 23px;
}
#content1-2e P {
  text-align: left;
}
#content1-2f P {
  font-size: 23px;
}
#content1-2h P {
  font-size: 23px;
}
#menu-2l .mbr-brand__name {
  font-size: 16px;
}
#menu-2l.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2l .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2n .mbr-brand__name {
  font-size: 16px;
}
#menu-2n.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2n .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2w .mbr-brand__name {
  font-size: 16px;
}
#menu-2w.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2w .mbr-navbar__hamburger {
  color: #ffffff;
}
#slider-30 H1 {
  color: #ffffff;
}
