#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-3 P {
  font-size: 15px;
  text-align: left;
}
#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
#slider-8 H1 {
  color: #ffffff;
  font-size: 36px;
}
#slider-8 P {
  color: #ffffff;
}
#menu-c .mbr-brand__name {
  font-size: 16px;
}
#menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-c .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-e P {
  font-size: 15px;
  text-align: left;
}
#menu-g .mbr-brand__name {
  font-size: 16px;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-u P {
  font-size: 23px;
}
#content1-j P {
  text-align: left;
}
#content1-w P {
  font-size: 23px;
}
#content1-x P {
  font-size: 23px;
}
#content1-s P {
  font-size: 15px;
}
